.main {
    margin-top: 4.7%;
    margin-left: 22%;
    width: 77%;
    min-height: 88%;
    overflow-y: scroll;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* align-items: ; */
}

.hr{
    margin-top: 77px;
    background-color: #B6BDC6;
    margin-left: 20px;
    margin-right: 20px;
}

.p {
    position: relative;
    top: 40px;
    color:  rgba(37, 79, 112, 1);
    margin-left: 20px;
    margin-bottom: 15px;
}

.table {
    /* margin-top: 2%; */
    margin-left: 20px;
    border-collapse: collapse;
    width: 97%;
    border-spacing: 2px;
    border: #B6BDC6 solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 30px;
    color: #254F70;

}

.th {
    padding: 20px 0px;
    line-height: 3rem;
}

.td {
    font-size: 15px;
    border: 1px solid;
    text-align: center;
    border-right: none;
    border-left: none;
    line-height: 3rem;
}

.workBtn1{
    /* margin-top: 30%; */
    margin-top: 400px;
    margin-left: 90%;
    background-color: rgba(37, 79, 112, 1);
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    /* flex-direction: column */
}