

.wrapper{
    top: 5vh;
    width: 100vw;
    height: 95vh;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topDiv{  
    margin-top: 3vh;
    width: 90vw;
    height: 32vh;
    background-color: white;
    margin-bottom: 3vh;
    border-radius: 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleTop{    
    width: 89vw;
    height: 10vh;
    display: flex;
    /* border-bottom: 1px solid #b4b4b4; */
    flex-direction: row;
    justify-content: space-between;
}

.titleTopLeft{
    width: 30vw;
    height: 10vh;
    align-items: center;
    display: flex;
    font-size: 2.2vw;
    font-weight: bolder;
    color: #254F70;
}

.titleTopRight{
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    color: #848484;
    justify-content: flex-end;
    margin-right: 3vw;
}

.titleTopRight *{
    margin-bottom: 1vh;
}

.titleTopRight span{
    font-size: 2.2vw;
    margin-left: 2vw;
}

.titleMiddle{
    margin-top: 1vh;
    width: 84vw;
    height: 15vh;
    border-top: #848484 solid 1px;
    margin-top: 0.3vh;
    padding-top: 0.3vh;
}

.titleMiddle span{
    color: #4B5766;
}

.titleLow{
    width: 89vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
}

.titleLowLeft{
    margin-left: 3vw;
}

.titleLow span{
    color: #4B5766;
    font-size: 1.9vh;
    margin-bottom: 1vh;
}

.low{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    align-items: center;
}

.titleLowRight span{
    font-size: 3vh;
    margin-right: 3vw;
    margin-bottom: 3vh;
    color:#4f4f4f
}

.beforeBtn{
    background: none;
    border: none;
}

.titleTopLeft span{
    margin-left: 2vw;
}

.titleMiddle span{
    margin: 3vh;
    color: #595959;
}

.beforeBtn img{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 1vw;
    filter: opacity(0.5) drop-shadow(0 0 0 #e1e1e1);
}

.beforeBtn span{
    font-size: 34px;
    font-weight: bold;
    margin-left: 1vw;
    color: #254F70;
}

.beforeBtn p{
    font-size: 1vw;
    margin-left: 1vw;
    color: #999999;
}

.bar{
    /* display: flex; */
}

.progress{
    width: 85vw;
    height: 2.6vh;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.progress {
    appearance: none;
}

.progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}

.progress::-webkit-progress-value {
    border-radius:10px;
    background: #50A4E4;
    background: -webkit-linear-gradient(to right, #d7eeff, #ebf6ff);
    background: linear-gradient(to right, #50A4E4, #50A4E4);
}

.lowDiv{
    width: 90vw;
    height: 53vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.todoBox{
    width: 28vw;
    height: 55vh;
    background-color: white;
    border-radius: 20px;
}

.progressBox{
    width: 28vw;
    height: 55vh;
    background-color: white;
    border-radius: 20px;
}

.doneBox{
    width: 28vw;
    height: 55vh;
    background-color: white;
    border-radius: 20px;
}

.taskTop{
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 2vw;
    margin-top: 2vh;
    font-weight: bold;
    font-size: large;
    /* border-bottom: 1px solid #b4b4b4; */
}

.taskTop button{
    border: none;
    background-color: transparent;
}

.todoBox hr{
    width: 25.2vw;
    margin: 0px 1vw;
}

.progressBox hr{
    width: 25.2vw;
    margin: 0px 1vw;
}

.doneBox hr{
    width: 25.2vw;
    margin: 0px 1vw;
}

.taskLow{
    overflow: scroll;
    overflow-x: hidden; 
    height: 40vh;
}