
@charset "UTF-8";

.main {
    margin-top : 9vh;
    margin-left: 20.5%;
    width: 77%;
    min-height: 88%;
    overflow-y: scroll;
    border-radius: 20px;
    background-color: #fff;
    position: fixed;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
}

.menutitle {
    padding: 2vh;
    margin-left: 0.5vw;
    border-bottom: 1px solid #4B5766;
    margin-bottom: 2vh;
    font-size: 30px;

    
}

.content {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    padding: 10px;
    margin-right: 3vw;
}


.content button {
    border: 10px;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    
    background-color: #254F70;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px 2px #E0E9F4;

}

.content button:hover {
    background-color: #87909B;
}
/* content1 (제목, 검색바) */
.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu-title {
    color: #4B5766;
    font-size: 24px;
    padding: 10px;
}

.sort {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #424242;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 320px;
    height: 100px;

}

.searchContent {
    width: 220px;
    height: 33px;
    border: 1px solid #424242;
    border-radius: 8px;
}

.search-button {
    position: absolute;
    left: 278px;
    top: 33.5px;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 2px solid #50A4E4;
    border-radius: 8px;
    background-color: #50A4E4;
}

.bi {
    position: absolute;
    font-size: 18px;
    top: 7px;
    left: 7px;
    color: #ffffff;
}


/* content2 (테이블) */
.content2 {
    display: inline-block;
    align-items: center;
    height: 600px;
    /* 나중에 조정*/
    color: #424242;

}

.table {
    margin-left: 20px;
    border-collapse: collapse;
    width: 97%;
    border-spacing: 2px;
    border: #B6BDC6 solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 30px;
    color: #254F70;

}

.th {
    padding: 20px 0px;
    line-height: 3rem;
}

.td {
    font-size: 15px;
    border: 1px solid;
    text-align: center;
    border-right: none;
    border-left: none;
    line-height: 3rem;
}

.table-content {
    height: 50px;
    border-bottom: 2px solid #c9c9c9;
}

.employee-detail {
    border: 0px;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    background-color: #BDDBFF;
    cursor: pointer;
}

/* content3- 버튼*/
.content3 {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    padding: 0 10px;

}


.content3 button {
    border: 0px;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    background-color: #BDDBFF;
    color: #424242;
    margin-left: 10px;
    cursor: pointer;
}

.content3 button:hover {
    background-color: #50A4E4;
}

/* content4 (페이징 바)*/

.content4 {
    text-align: center;
    border: 0px;
}

.paging {
    font-size: 20px;
    margin-right: 20px;
    border: 0px;
    background-color: #ffffff;
}