.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modalContainer{
    position: absolute;
    width: 70vw;
    height: 90vh;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

.paymentOrgDiv{    
    width: 28vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    /* border: solid 1px black; */
    border-radius: 25px;    
}


.paymentPayarea{
    /* background-color:  rgba(46, 123, 216, 0.5); */
    overflow-y: scroll;

    background-color: rgba(224, 233, 244, 0.5);
    width: 25vw;
    height: 80vh;
    border-radius: 20px;
    overflow-y: scroll;
}
.payTitleName {
    color: rgba(37, 79, 112, 1);
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 6%;
    margin-bottom: 7%;
    margin-top: 30px;
    display: inline-block;
}

.paymentPayDiv{
    width: 28vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 25px;    
}
.paymentPayItem{
    text-align: center;
    border-radius: 15px;
    color: #254F70;
    font-weight: bold;
    display: flex;
    border-radius: 15px;
    height: 6vh;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1vw;
    margin-bottom: 2vh;
}
.paymentPayItemTitle{
    width: 6vw;
    border-radius: 15px;
    height: 6vh;
    line-height: 6vh;
    background-color: #34709F;
    color: white;
    margin-right: 2.8vw;
}

/* .paymentDraftDiv input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 90%;
    border-radius: 25px;
    text-indent: 1.2em;
}

.paymentDraftDiv textarea {
    width: 90%;
    height: 250px;
    resize: none;
    border-radius: 20px;
    text-indent: 1em;
} */

/* .productReviewModalDiv button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
} */

.directionImg{
    margin: 0 auto;
    width: 50px;
    font-size: 3rem;
    padding-top: 26vh;
}

.imgDiv {
    display: flex;
    flex-direction: column;
}
