.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modalContainer{
    position: absolute;
    width: 30vw;
    height: 20vh;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
    left: 45vw;
    text-align: right;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    height: 18vh;
    justify-content: space-around;
}

.saveMainDiv{
    display: flex;
    flex-direction: column;
    height: 18vh;
    justify-content: space-around;
}

.titleDiv{
    font-size: 1.5rem;
    height: 1vh;
    text-align: center;
}

.buttonDiv{
    display: flex;
    width: 30vw;
    justify-content: flex-end;
}

.label{
    text-align: left;
    margin-left: 1vw;
    font-size: 1rem;
    font-weight: bold;
}

.refuseText {
    background-color: rgba(80, 164, 228, 0.5);
    border: none;
    border-radius: 8px;
    height: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
}


.payButton{
    color: white;
    background-color: rgba(37, 79, 112, 1);
    width: 7vw;
    height: 4vh;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-right : 1vw;
}

.buttonCancel {
    color: rgba(37, 79, 112, 1);
    background-color: white;
    width: 7vw;
    height: 4vh;
    border: 2px solid rgba(37, 79, 112, 1);;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-right : 1vw;
}