.wrapper {
    /* border: 1px solid black; */
}

.today {
    margin-bottom: 1rem;
}

.addr {
    /* margin-bottom: 1rem; */
}

.myWeather {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* border: 1px solid orange; */
}

.temperature {
    /* border: 1px solid red; */
    text-align: end;
}

.now {
    margin: 1rem 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
}

.maxmin {
    font-size: 12px;
    letter-spacing: 3px;
}

.icon {
    /* border: 1px solid blue; */
    color: #50A4E4;
}

.icon svg {
    height: 100%;
    width: 6vw;
}