.background{
    margin-top : 10vh;
    margin-left: 20vw;
    width: 78vw;
    height: 86vh;
    background-color: white;
    border-radius: 20px;
}

.titleDiv{
    width: 74vw;
    margin: 0 auto;
}

.title{
    color: rgba(37, 79, 112, 1);
    font-size: 20px;
    font-weight: bold;
    height: 6vh;
    line-height: 6vh;

}

.imgDiv{
    
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    padding-left: 1vw; 
    display: flex;
    justify-content: flex-start;
}

.imgTitleDiv{
    border-top: 1px solid gray;
    color: rgba(37, 79, 112, 1);
    font-size: 20px;
    font-weight: bold;
    height: 2vh;
    width: 95%;
    margin: 0 auto;
}


.imgTitle{
    color: rgba(37, 79, 112, 1);
    font-size: 20px;
    font-weight: bold;
    height: 6vh;
    line-height: 6vh;
    width: 30%;
    margin-left: 5vw;
    margin-bottom: 2vh;
}

.imgBox{
    background-color:rgba(182, 189, 198, 0.5);
    width: 24vw;
    height: 30vh;
    margin-left: 3vw;
    font-size: 2rem;
    color:rgba(182, 189, 198, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgTextBox{
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3vh;
}
.imgNameBox{

    margin-left: 10vw;
    margin-top: 10vh;
}

.imgNameTilte{
    border: 1px solid rgba(37, 79, 112, 1);
    width: 7vw;
    height: 4vh;
    line-height: 4vh;
    font-size: 14px;
    text-align: center;
    background-color: rgba(37, 79, 112, 1);
    color: white;
}

.imgName{
    width: 15vw;
    border: 1px solid rgba(37, 79, 112, 1);
    text-align: center;
    height: 4vh;
    line-height: 4vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1rem;
}

.paySignImage{
    height: 25vh;
    width: 20vw;
}



.buttonDiv{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    height: 10vh;
    margin-left: 1vw;
}

.modifyButton{
    background-color: rgba(37, 79, 112, 1);
    color: white;
    border: none;
    border-radius: 10px;
    width: 8vw;
    height: 4vh;
    margin-left: 4vw;
}

.saveButton{
    background-color: rgba(37, 79, 112, 1);
    color: white;
    border: none;
    border-radius: 10px;
    width: 8vw;
    height: 4vh;
}

.cancleButton{
    background-color: white;
    color: rgba(37, 79, 112, 1);
    border: 1px solid rgba(37, 79, 112, 1);
    border-radius: 10px;
    width: 8vw;
    height: 4vh;
}