
.loginDiv input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    text-indent: 10px;
}

.login-button button{
    border: none;
    background-color: white;
}

button.loginbutton {
    width: 253px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #254F70;
    color: white;
    font-weight: bolder;
}

.titleblue{
    color: #254F70;
}

.loginfind button{
    border: none;
    background-color: white;
    margin: 0px 20px;
}

.subtitleTiny{
    font-size: small;
    color: #254F70;
    font-weight: bold;
}

.loginDivForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 51px;
    margin-left: 30px;
}
