.wrapper {
    /* border: 1px solid red; */
    height: 95vh;
    width: 100vw;
    position: fixed;
    top: 5vh;
    left: 20vw;
    right: 0;
    /* background-color: rgba(239, 239, 239, 1); */
    /* background-color: white; */
}

.wrap {
    /* border: 1px solid blue; */
    border-radius: 40px;
    margin: 4vh 2vw;
    height: 87vh;
    width: 76vw;
    background-color: white;
}

.fc {
    /* border: 1px solid orange; */
    padding: 4vh 2vw;
    height: 87vh;
    /* width: 70vw; */
    font-size: 0.85rem;
}

.fc-header-toolbar {
    /* border: 1px solid black; */
}

.fc-toolbar-chunk:first-child button {
    /* border: 2px solid #254F70; */
    /* border: solid 2px yellow; */
    background-color: #254F70;
    color: #FFFFFF;
    /* margin-right: 10px; */
}