.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: rgba(37, 79, 112, 1);
    color: white;
}

.logo {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 4px;
    /* text-align: left;     */
    line-height: 5vh;
    font-weight: 700;
}

.menuList {
    display: flex;
    list-style: none;
}

.menuList li {
    padding: 0 3rem;  
}

.menuList li:hover {
    background-color: rgba(23, 41, 54, 1);
    /* background-color: red; */
}

.menuList li a {
    color: white;
    text-decoration: none;
    line-height: 5vh;
    font-size: 14px;
    
}

.userInfo {
    display: flex;
    font-size: 12px;
}

.userInfo span {
    padding-right: 10px;
    /* border-right: white 2px solid; */
    line-height: 5vh;
}

.logout {
    background-color: transparent;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding-left: 10px;
}