.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: rgba(37, 79, 112, 1);
    color: white;
}

.logo {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 4px;
    /* text-align: left;     */
    line-height: 5vh;
    font-weight: 700;
}

.mainmenu {
    display: flex;
}

.menuList {
    display: flex;
    list-style: none;
}

.menuList li {
    padding: 0 3rem;
}

.menuList li:hover {
    background-color: rgba(23, 41, 54, 1);
    /* background-color: red; */
}

.menuList li a {
    color: white;
    text-decoration: none;
    line-height: 5vh;
    font-size: 14px;
    white-space: nowrap; /* 글자가 한 줄로 유지되도록 설정 */
}

.userInfo {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.userInfo span {
    padding-right: 10px;
    /* border-right: white 2px solid; */
    line-height: 5vh;
    flex-shrink: 0; /* 유저 인포의 크기를 유지하기 위해 flex-shrink 속성 추가 */
}

.logout {
    background-color: transparent;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding-left: 10px;
    white-space: nowrap;
  }  

@media (max-width: 768px) {
/* 화면 크기가 768px 이하일 때 적용되는 CSS */

.menuList li {
    padding: 0 1rem;
}

.logo {
    font-size: 14px;
}

.userInfo {
    display: none;
}

.menuList li a {
    white-space: nowrap;
}

.logout {
    font-size: 10px;
}

} 
