.header {
display: flex;
justify-content: space-around;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 5vh;
background-color: rgba(37, 79, 112, 1);
color: white;
}

.logo {
background-color: transparent;
border: none;
color: white;
cursor: pointer;
font-size: 16px;
letter-spacing: 4px;
line-height: 5vh;
font-weight: 700;
}

.mainmenu {
display: flex;
}

.menuList {
display: flex;
list-style: none;
}

.menuList li {
padding: 0 3rem;
}

.menuList li:hover {
background-color: rgba(23, 41, 54, 1);
}

.menuList li a {
color: white;
text-decoration: none;
line-height: 5vh;
font-size: 14px;
white-space: nowrap;
}

.userInfo {
display: flex;
font-size: 12px;
align-items: center;
}

.userInfo span {
padding-right: 10px;
line-height: 5vh;
flex-shrink: 0;
}

.logout {
background-color: transparent;
border-style: none;
color: white;
cursor: pointer;
font-size: 12px;
padding-left: 10px;
white-space: nowrap;
}

@media (max-width: 768px) {
.menuList li {
    padding: 0 1rem;
}

.logo {
    font-size: 14px;
}

.userInfo {
    display: none;
}

.menuList li a {
    white-space: nowrap;
}

.logout {
    font-size: 10px;
}

}

.btn {
    color: white;
    text-decoration: none;
    line-height: 5vh;
    border: none;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    /* 글자 고정 */
    white-space: nowrap;
}