.productDiv {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    height: 100%;
    margin: 10px;
}

.pagingBtn{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 12px;
    background-color: white;
    font-weight: bold;
    border: 1px solid gray;
    font-size: 10px;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: rgba(80, 164, 228, 0.5);
}