.navbar {
    /* border: 1px solid red;s */
    height: 95vh;
    position: fixed;
    top: 5vh;
    left: 0;
    right: 0;
    width: 20vw;
    background-color: rgba(239, 239, 239, 1);
}

.wrap {
    /* margin: 30px; */
    border: white 1px solid;
    background-color: white;
    border-radius: 30px;
    margin: 4vh 2vw;
    height: 87vh;
}

.title {
    background-color: rgba(37, 79, 112, 1);
    color: white;
    text-align: center;
    /* padding: 2vh; */
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    margin: 2vw;
    padding: 2vh;
}