.main {
    margin-top : 9vh;
    margin-left: 20.5%;
    width: 77%;
    min-height: 88%;
    overflow-y: scroll;
    border-radius: 20px;
    background-color: #fff;
    position: fixed;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
}


/* .table {
    width: 1100px;
    border-collapse: collapse;
    text-align: center;
    line-height: 2.5;
    height: 100px;
    padding: 0 10px;
    box-shadow: 0px 2px 1px 0px #C9C9C9;
}

.table-header {
    background-color: #f8f8f8;
    height: 35px;
    border-top: 2px solid #c9c9c9;
    border-bottom: 2px solid #c9c9c9;

}

#content1 {
    width: 100%;
    max-width: 1100px;
}

.menu-title {
    color: #254F70;
    font-size: 24px;
}

.content2 {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    padding: 0 10px;
}

.content2 button {
    border: 0px;
    border-radius: 8px;
    min-width: 70px;
    width: auto;
    height: 30px;
    background-color: #c7e78e;
    margin-left: 10px;
}


/* 테이블 박스 */
/* .tablebox {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f2f2f2;
}

.tablebox table {
    width: 100%;
    border-collapse: collapse;
}

.tablebox td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.tablebox td:last-child {
    border-bottom: none;
}


/* 전체를 감싸는 큰 사각형 박스 */
/* .viewerbox {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}  */
.menutitle {
    padding: 2.5vh;
    margin-left: 1vw;
    font-size: 30px;
    margin-top: 3vh;
}

.container {
    padding: 3vh;
}


.th {
    
    
    border-radius: 1px;
    padding: 10px;
    background-color: #E0E9F4;
    height: 50px;
    border: 1px solid #c9c9c9;
    width: 10vw;
    box-shadow: 2px 2px 2px 2px #E0E9F4;
    font-weight: bold;
    font-size: 20px;
}

.td {
    
    border-radius: 6px;
    font-size: 20px;
    background-color: #ffffff;
    padding-left: 4.5vw;
    border: 1px solid #c9c9c9;
    width: 60vw;

}

.content {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    padding: 10px;
    margin-right: 3vw;
}


.content button {
    border: 10px;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    
    background-color: #254F70;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px 2px #E0E9F4;

}

.content button:hover {
    background-color: #87909B;
}