.wrapper{
    height: 95vh;
    width: 100vw;
    position: fixed;
    top: 5vh;
}

.wrap{    
    display: flex;
    margin: 7vh 4.8vw;
    height: 86vh;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    height: 5vh;
    width: 82vw;
    border-bottom: 1px solid lightgray;
    margin-top: 7vh;
    font-size: 4vh;
    font-weight: bold;
    color: #254F70;
    padding-bottom: 2vh;
}

.mainContent{
    margin-top: 2vh;
    height: 64vh;
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.leftDiv{
    height: 64vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.leftTitle{
    margin-left: 1vh;
    height: 12vh;
    width: 30vw;
}

.projTitlebold{
    color: #254F70;
    font-weight: bold;
    font-size: 2.4vh;
    margin-bottom: 1vh;
}

.projTitle{
    font-weight: bold;
}

.leftContent{
    height: 65vh;
    width: 28vw;
    border: lightgray 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


/* ========================= 테이블 =========================== */


.tableDiv{
    display: flex;
    flex-direction: column;
    width: 28vw;
}

.tableTbody {
    height: 38vh;
    width: 20vw;
}


.tableTbody tr td:first-child{
    font-weight: bold;
}


.tableTbody td:first-child {
    height: 2vh;
    width: 3vw;
    padding: 0 1rem;
    border-radius: 10px;
    text-align: center;
}
  

.tableTbody td:last-child {
    height: 2vh;
    width: 6vw;
    padding: 0 0.8rem;
}
  

.leftTable{
    height: 41vh;
    align-items: center;
    table-layout: fixed;
    width: 100%;
}


.leftTable  td{
    border: 1px solid lightgray;
}

.notice{
    height: 8vh;
    width: 17vw;
    margin: -2vh 0vw;
    white-space: pre-wrap;
    overflow: auto;
    border: none;
}

.btn {
    margin: 1vh 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}


.btn *{
    height: 3vh;
    width: 5vw;
    border: #254F70 solid 2px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0vh 0.3vw;
}

.btn a:first-child{
    background-color: #254F70;
    margin-right: 0.5vw;
    color: white;
    font-size: small;
    height: 2.5vh;
    width: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn button:last-child{
    background-color: white;
    color: #254F70;
}

.inputbox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 12vw; 
    height: 2.3vh;
    border: #d6d6d6 solid 1px;
    border-radius: 3px;

}



.tableTextbox, .tableTaskNotice .inputbox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 12vw;
    height: 6vh;
    overflow-y: auto;
    z-index: 20;
    position: relative;
    border: #d6d6d6 solid 1px;
    border-radius: 3px;
    background-color: transparent;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #333;
    resize: none;
}


.tableTbody td{
    /* text-align: center; */
    border: none;
}

.tableTbody select, .tableTaskName .inputbox{
    width: 12vw;
    height: 2.4vh;
    border: #d6d6d6 solid 1px;
    border-radius: 3px;
}

.btnMargin button{
    margin-left: -9vw;
    height: 3vh;
    width: 5vw;
    border: #254F70 solid 2px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #254F70;
    color: white;
}


/*------------------------------ 리뷰 -------------------------*/



.RightDiv{
    height: 63vh;
    width: 46vw;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.reviewList{
    width: 40vw;
    height: 40vh;
    margin: 3vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden; 
}

.reviewItem{
    border: yellowgreen solid 2px;
    width: 37vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.reviewLeft{
    border: red solid 2px;
    width: 3vw;
    height: 5vh;
    margin: 1.5vh;   
}

.reviewRight{
    border: red solid 1px;
    width: 32vw;
    height: 8.3vh;
    margin: 0.6vh;
}

.listTop{
    border: yellowgreen solid 1px;
    width: 100%;
    height: 1.9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listName{
    border: red solid 1px;
    width: 4vw;
    height: 100%;
}

.listDate{
    border: red solid 1px;
    width: 8vw;
    height: 100%;
    margin-left: 11vw;
}

.listBtn{
    width: 6.3vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listBtn button{
    width: 3vw;
    height: 90%;
    background-color: white;
    border: 1px solid #B6BDC6;
    border-radius: 5px;
}

.listLow{
    border: yellowgreen solid 2px;
    width: 30vw;
    height: 5.5vh;
    margin: 0.2vh;
    color: #333;
    overflow-y: auto;
    z-index: 20;
    /* display: block; */
    overflow: hidden;
    position: relative;
    border: none;
    background-color: transparent;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #333;
    resize: none;
}

.reviewWrite{
    width: 37vw;
    height: 13vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.textbox{
    width: 100%;
    height: 9vh;
    overflow-y: auto;
    z-index: 20;
    /* display: block; */
    overflow: hidden;
    position: relative;
    background-color: transparent;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #333;
    resize: none;
    border: 1px solid #B6BDC6;
}

.writeBtn{
    width: 5vw;
    height: 2vh;
    margin: 1vh;
    border: rgb(175, 175, 175) solid 1px;
    border-radius: 5px;
    font-weight: bold;
}